[Desktop Entry]
Version=1.0
Type=Application
Name=fll
Comment=Launches VSCode in FLL directory
Exec=code /home/michael/Documents/GitHub/fll-functioning_largely_on_luck/

