[Desktop Entry]
Version=1.0
Type=Application
Name=immag-box
Comment=Launches VSCode in KSP directory
Exec=code /home/michael/Documents/GitHub/immag-box-v2

